.containerNewsletter {
  display: flex;
  width: 95%;
  margin: auto;
  background-color: $gray1;
  border-radius: 10px;
  padding: 20px 0;

  .formContainer {
    flex: 1;
    .inputContainer {
      .formLabel {
        width: 100%;
        text-align: center;
      }
      .inputForm {
        width: 70%;
        margin: auto;
      }
    }
  }

  .buttonForm {
    display: flex;
    width: 30%;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
  }
}
