.containerPost {
  display: flex;
  flex: 1;
  margin: 10px auto;
  width: 90%;
  justify-content: center;
  position: relative;
  flex-direction: column;

  .imagePostContainer {
    flex: 1;
    margin: auto;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .contentContainer {
    display: flex;
    flex-direction: column;
  }

  .btnPostContainer {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }

  @media screen and (min-width:$desktopBreakpoint) {
    flex-direction: row;

    .imagePostContainer {
    img {
      width: 350px;
      margin-right: 20px;
    }
  }
  }
}
