.containerPost {
  display: flex;
  flex: 1;
  margin: 10px auto;
  width: 90%;
  justify-content: center;
  position: relative;


  .contentContainer {
    flex: 0.9;

    .imagePostContainer {
      flex: 0.1;
      img{
        object-fit: contain;
        width: 100%;
      }
    }
  }

  .btnPostContainer{
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}
