@import "bootstrap/dist/css/bootstrap.min.css";
//variables
@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.horizontalLine {
  border: 3px solid $gray1;
}


// class for [mobile / desktop] hide
.desktop {
  @media screen and (min-width: $desktopBreakpoint) {
    display: block;
  }
  @media screen and (max-width: calc($desktopBreakpoint - 1px)) {
    display: none;
  }
}
.mobile {
  @media screen and (min-width: $desktopBreakpoint) {
    display: none;
  }
  @media screen and (max-width: calc($desktopBreakpoint - 1px)) {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}




//imports
@import "../shared/components/layout/Header/header.scss";
@import "../shared/components/Post/post.scss";
@import "../shared/components/NewsLetter/newsletter.scss";
@import "../shared/components/layout/Footer/footer.scss";
@import "../shared/components/layout/Navbar/navbar.scss";
@import "../shared/components/Button/button.scss";
